[Unit]
Description=Minecraft Server Service

[Service]
Type=simple
Restart=always
RestartSec=3
User=minecraftd
ExecStart=/home/minecraftd/server/bin/initialize-test

[Install]
WantedBy=multi-user.target
